body {
  padding: 0px;
  margin: 0px;
}

.container-main {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 20% 80%;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.heading {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: blue;
  width: 100vw;
  display: inline-flex;
}

.heading__photo {
  max-width: 10%;
  max-height: 100%;
  border-radius: 50%;
}

.sidebar {
  background-color: gold;

}

.content {
  background-color: aqua;
}
